:root {
  --bg-color: #1f1e1f;
  --bg-color-properties: 31, 30, 31;
  --text-primary-color: #ffffff;
  --text-secondary-color: #f1f1f1;
  --primary-color: #0056ff;
  --secondary-color: #282828;
  --hover-primary-color: #003ecb;
  --hover-text-primary-color: #ededed;
  --hover-secondary-color: #fdfbf6d8;
  /*Boder Radius*/
  --border-radius-primary: 0.75rem;
}

* {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
}

i {
  text-align: center;
  align-content: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
}

li {
  list-style: none;
}
