.page-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  justify-content: center;
  align-items: left;
  margin-bottom: 30px;
  margin-inline: 10vw;
}

.page-title h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary-color);
  text-transform: capitalize;
}

.page-title div {
  height: 5px;
  width: 80%;
  border-radius: var(--border-radius-primary);
  background-color: var(--primary-color);
}

.container-about-me {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 50px 10vw;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-primary);
  overflow: hidden;
  padding: 50px;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  padding-right: 30px;
  border-right: 1px solid var(--text-primary-color);
}

.about-me-text h4 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--text-primary-color);
}

.about-me-text p {
  color: var(--text-secondary-color);
  font-size: 16px;
  font-weight: 400;
}
.container-button-download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-download-cv {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius-primary);
  padding: 15px;
  transition: ease 150ms;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
}

.button-download-cv:hover {
  background-color: var(--hover-primary-color);
}

.button-download-cv i {
  font-weight: 600;
  align-self: center;
}

.about-me-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.about-me-img img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  border: 3px solid var(--primary-color);
}

.about-me-img-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.about-me-img-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-primary-color);
  text-transform: capitalize;
}

.about-me-img-country {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary-color);
  text-transform: capitalize;
}

.studies-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 50px;
  border-radius: var(--border-radius-primary);
  margin: 0 10vw;
}

.studies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.studies-title {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.studies-title h4 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-primary-color);
  text-transform: capitalize;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon-container i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--primary-color);
  height: max-content;
  width: max-content;
  padding: 0;
  margin: 0;
}

.studies-sector-1 {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 1rem;
  align-items: center;
  width: max-content;
}

.studies-sector-1 h5 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-primary-color);
  text-transform: capitalize;
  width: max-content;
  height: max-content;
}

.container-circle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 9999px;
  background-color: var(--primary-color);
}

.studies-sector-2 {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

.studies-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.studies-description span {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
  width: max-content;
  height: max-content;
}

.studies-description p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary-color);
  width: 100%;
  height: 100%;
}

.container-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3px;
  background-color: var(--primary-color);
}

@media (max-width: 750px) {
  .studies-container {
    padding: 30px;
  }
  .container-about-me {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 30px;
  }
  .about-me-text {
    border-right: none;
    border-bottom: 1px solid var(--text-primary-color);
    padding-right: 0;
    padding-bottom: 50px;
  }
}
